---
interface Props {
  title: string;
  description: string;
  imgSrc: string;
  list: string[];
  direction?: "left" | "right";
}

const { title, description, list, direction, imgSrc } = Astro.props;
---

<div
  class=`flex flex-col-reverse px-2 lg:flex-row gap-5 ${direction === "left" ? "lg:flex-row-reverse" : ""} items-center`
>
  <div class="flex-1">
    <img src={imgSrc} alt="Advantages" class="w-full max-w-md mx-auto mb-4" />
  </div>
  <div class="flex flex-1 flex-col items-start gap-5">
    <h2 class="text-3xl font-bold">
      {title}
    </h2>
    <p class="">
      {description}
    </p>
    <ul class="space-y-2 mb-6">
      {
        list.map((item) => (
          <li class="flex items-center">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-5 w-5 text-green-500 mr-2"
              viewBox="0 0 20 20"
              fill="currentColor"
            >
              <path
                fill-rule="evenodd"
                d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                clip-rule="evenodd"
              />
            </svg>
            {item}
          </li>
        ))
      }
    </ul>
  </div>
</div>
