---
import type { AdventajesData } from "@/config/landing.interface";

import advantagesImg from "@/assets/advantages.png";
import sellsImg from "@/assets/sells.webp";
import AdventagesItem from "@/components/AdventagesItem.astro";

interface Props {
  data: AdventajesData;
}

const { data } = Astro.props;
---

<section class="py-16">
  <div class="container mx-auto px-4">
    <AdventagesItem
      imgSrc={advantagesImg.src}
      direction="right"
      title="Potencia tu negocio con nuestros sistemas"
      description="Optimiza tus procesos, toma decisiones inteligentes y lleva tu empresa al siguiente nivel con soluciones tecnológicas diseñadas para crecer contigo."
      list={[
        "Automatización que ahorra tiempo y recursos",
        "Datos en tiempo real para decisiones más acertadas",
        "Escalabilidad adaptada al crecimiento de tu negocio",
      ]}
    />

    <AdventagesItem
      imgSrc={sellsImg.src}
      direction="left"
      title="Aumenta tus ventas cons nuestras soluciones"
      description="Impulsa tus ingresos con herramientas inteligentes que mejoran la experiencia del cliente, optimizan tu proceso de venta y maximizan cada oportunidad de negocio."
      list={[
        "Integración con canales digitales para mayor alcance",
        "Seguimiento efectivo de clientes potenciales",
        "Reportes y métricas que revelan nuevas oportunidades",
      ]}
    />
  </div>
</section>
