---
import type { FooterData } from "@/config/landing.interface";

interface Props {
  data: FooterData;
}

const { data } = Astro.props;
---

<footer class="bg-gray-900 text-white py-6">
  <div class="container mx-auto px-4 text-center">
    <p class="mb-4">© 2025 Set Perú</p>
    <div class="flex justify-center space-x-4">
      <a href="#privacy" class="hover:text-orange-500"
        >Políticas de privacidad</a
      >
      <a href="#terms" class="hover:text-orange-500">Términos</a>
    </div>
  </div>
</footer>
