---
interface Props {
  data: {
    title: string;
    subTitle: string;
    primaryCta: string;
    secondaryCta: string;
    highlightedTitle?: string;
  };
}

const { data } = Astro.props;

import heroImg from "@/assets/hero.png";
import { Image } from "astro:assets";
---

<section class="pt-20">
  <div class="container px-2 flex flex-col-reverse lg:flex-row">
    <div class="flex flex-1 flex-col gap-5 justify-center items-start">
      <h1 class="text-3xl font-semibold text-gray-800">
        Creamos tecnología que potencia tu negocio y genera resultados.
      </h1>
      <p class="text-gray-500">Contáctanos para una asesoría gratuita.</p>
      <a
        href="#contact"
        class="bg-orange-500 text-white px-6 py-3 rounded-full hover:bg-orange-600 flex items-center gap-2"
      >
        Contáctanos
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="2"
          stroke="currentColor"
          class="w-5 h-5"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M17 8l4 4m0 0l-4 4m4-4H3"></path>
        </svg>
      </a>
    </div>
    <div class="flex-1 mx-auto lg:mt-0">
      <Image src={heroImg} alt="Workspace" class="mx-auto" />
    </div>
  </div>
</section>
<style>
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  #hero-section {
    opacity: 0;
    animation: fadeIn 0.8s ease-in-out forwards;
  }
</style>
