<section class="py-16">
  <div class="container mx-auto px-4 text-center">
    <h2 class="text-3xl font-bold mb-6">Proyectos recientes</h2>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
      <div class="p-6 bg-white shadow rounded-lg">
        <img
          src="https://via.placeholder.com/300"
          alt="Proyecto 1"
          class="mb-4"
        />
        <h3 class="text-xl font-semibold">Página web cooperativa CCQ</h3>
        <p>
          Computación cuántica, dinámica de fluidos, procesamiento de alto
          rendimiento, optimización de procesos.
        </p>
      </div>
      <div class="p-6 bg-white shadow rounded-lg">
        <img
          src="https://via.placeholder.com/300"
          alt="Proyecto 2"
          class="mb-4"
        />
        <h3 class="text-xl font-semibold">
          Página web cooperativa Montes Vegas
        </h3>
        <p>
          Computación cuántica, dinámica de fluidos, procesamiento de alto
          rendimiento, optimización de procesos.
        </p>
      </div>
      <div class="p-6 bg-white shadow rounded-lg">
        <img
          src="https://via.placeholder.com/300"
          alt="Proyecto 3"
          class="mb-4"
        />
        <h3 class="text-xl font-semibold">Página web empresa minera CCQ</h3>
        <p>
          Computación cuántica, dinámica de fluidos, procesamiento de alto
          rendimiento, optimización de procesos.
        </p>
      </div>
      <div class="p-6 bg-white shadow rounded-lg">
        <img
          src="https://via.placeholder.com/300"
          alt="Proyecto 4"
          class="mb-4"
        />
        <h3 class="text-xl font-semibold">Página web empresa minera CCQ</h3>
        <p>
          Computación cuántica, dinámica de fluidos, procesamiento de alto
          rendimiento, optimización de procesos.
        </p>
      </div>
    </div>
    <a
      href="#projects"
      class="mt-6 inline-block bg-orange-500 text-white px-6 py-3 rounded-full hover:bg-orange-600"
      >Ver todos los proyectos</a
    >
  </div>
</section>
